<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/bootstrap/favicon.ico">

    <title>Beacon</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/css/dashboard.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Beacon</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="../logout">Logout</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="../pricing_lookup">Pricing Lookup</a></li>
            <li><a href="../estimate_page">Win Estimation</a></li>
            <li class="active"><a href="../deal_database">Deal Database/Search<span class="sr-only">(current)</span></a></li>
            <li><a href="../analytics">Analytics</a></li>
            <li><a href="../upload_deal">Upload a Deal</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Tutorial</a></li>
            <li><a href="">Help</a></li>
          </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Deal Database</h1>


          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Deal ID</th>
                  <th>Company</th>
                  <th>Branch</th>
                  <th>Date</th>
                  <th>Win</th>
                  <th>Closing Fee (bps)</th>
                  <th>Deal Memo</th>
                  <th>Pitch</th>
                </tr>
              </thead>
              <tbody>
                {% for deal in deals %}
                <tr>
                  <td><a href="../inspect?deal_id={{ deal.id }}">{{ deal.id }}</a></td>
                  <td><a href="#">{{ deal.company_name }}</a></td>
                  <td><a href="#">{{ deal.company_geo_city }}</a></td>
                  <td>{{ deal.deal_date.strftime('%d %B %Y') }}</td>
                  <td>{{ deal.deal_status }}</td>
                  <td>{{ deal.deal_fee }}</td>
                  <td><a href="#">Link</a></td>
                  <td><a href="#">Link</a></td>
                </tr>
                {% endfor %}
               
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/bootstrap/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
