<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/bootstrap/favicon.ico">

    <title>Beacon</title>


    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/css/dashboard.css" rel="stylesheet">




    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Beacon</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="../logout">Logout</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="../pricing_lookup">Pricing Lookup</a></li>
            <li class="active"><a href="../estimate_page">Win Estimation<span class="sr-only">(current)</span></a></li>
            <li><a href="../deal_database">Deal Database/Search</a></li>
            <li><a href="../analytics">Analytics</a></li>
            <li><a href="../upload_deal">Upload a Deal</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Tutorial</a></li>
            <li><a href="">Help</a></li>
          </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Win Estimation</h1>


          <h3><p><b>{{ data.estimate }}%</b> chance of winning<br></h3>
            This was calculated using a <b>{{ data.model_type }}</b> model which is currently correctly estimating <b>{{ data.win_rate }} 
          </b> deals correctly.</p>


<form action="/estimate_page/" method="get">
<p><b>Pricing Grid</b></p>
<div class="row">
  <b>
  <div class="col-sm-1">Level</div>
  <div class="col-sm-1">Debt:EBITDA</div>
  <div class="col-sm-1">Prime+bps</div>
</b>
</div>

<div class="row">
  <div class="col-sm-1">1</div>
  <div class="col-sm-1">
    <input name="debt_1" type="text" class="form-control" value="{{ inputs.debt_1 }}">
  </div>
  <div class="col-sm-1">
    <input name="prime_1" type="text" class="form-control" value="{{ inputs.prime_1 }}">
  </div>
</div>

<div class="row">
  <div class="col-sm-1">2</div>
  <div class="col-sm-1">
    <input name="debt_2" type="text" class="form-control" value="{{ inputs.debt_2 }}">
  </div>
  <div class="col-sm-1">
    <input name="prime_2" type="text" class="form-control" value="{{ inputs.prime_2 }}">
  </div>
</div>

<div class="row">
  <div class="col-sm-1">3</div>
  <div class="col-sm-1">
    <input name="debt_3" type="text" class="form-control" value="{{ inputs.debt_3 }}">
  </div>
  <div class="col-sm-1">
    <input name="prime_3" type="text" class="form-control" value="{{ inputs.prime_3 }}">
  </div>
</div>

<div class="row">
  <div class="col-sm-1">4</div>
  <div class="col-sm-1">
    <input name="debt_4" type="text" class="form-control" value="{{ inputs.debt_4 }}">
  </div>
  <div class="col-sm-1">
    <input name="prime_4" type="text" class="form-control" value="{{ inputs.prime_4 }}">
  </div>
</div>

<div class="row">
  <div class="col-sm-1">5</div>
  <div class="col-sm-1">
    <input name="debt_5" type="text" class="form-control" value="{{ inputs.debt_5 }}">
  </div>
  <div class="col-sm-1">
    <input name="prime_5" type="text" class="form-control" value="{{ inputs.prime_5 }}">
  </div>
</div>
<br>





  <div class="form-group">
    <label for="deal_fee">Deal Fee (bps)</label>
    <input type="number" class="form-control" id="exampleInputEmail1" name="deal_fee" value="{{ inputs.deal_fee }}">
  </div>
  <div class="form-group">
    <label for="exampleSelect1">Borrower Risk Rating</label>
    <select class="form-control" id="exampleSelect1" name="company_risk_rating">
      <option value="0" {% if inputs.company_risk_rating == "0" %} selected="selected" {% endif %}>1A</option>
      <option value="1" {% if inputs.company_risk_rating == "1" %} selected="selected" {% endif %}>1B</option>
      <option value="2" {% if inputs.company_risk_rating == "2" %} selected="selected" {% endif %}>1C</option>
      <option value="3" {% if inputs.company_risk_rating == "3" %} selected="selected" {% endif %}>2A</option>
      <option value="4" {% if inputs.company_risk_rating == "4" %} selected="selected" {% endif %}>2B</option>
      <option value="5" {% if inputs.company_risk_rating == "5" %} selected="selected" {% endif %}>2C</option>
      <option value="6" {% if inputs.company_risk_rating == "6" %} selected="selected" {% endif %}>3A</option>
      <option value="7" {% if inputs.company_risk_rating == "7" %} selected="selected" {% endif %}>3B</option>
      <option value="8" {% if inputs.company_risk_rating == "8" %} selected="selected" {% endif %}>3C</option>
      <option value="9" {% if inputs.company_risk_rating == "9" %} selected="selected" {% endif %}>4A</option>
      <option value="10" {% if inputs.company_risk_rating == "10" %} selected="selected" {% endif %}>4B</option>
      <option value="11" {% if inputs.company_risk_rating == "11" %} selected="selected" {% endif %}>4C</option>
      <option value="12" {% if inputs.company_risk_rating == "12" %} selected="selected" {% endif %}>5A</option>
      <option value="13" {% if inputs.company_risk_rating == "13" %} selected="selected" {% endif %}>5B</option>
      <option value="14" {% if inputs.company_risk_rating == "14" %} selected="selected" {% endif %}>5C</option>
      <option value="15" {% if inputs.company_risk_rating == "15" %} selected="selected" {% endif %}>6</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Debt at Close (Debt:EBITDA)</label>
    <input type="number" step="0.1" class="form-control" name="debt_at_close" value="{{ inputs.debt_at_close }}">
  </div>
  
  <fieldset disabled>
  <div class="form-group">
      <label for="disabledSelect">Select Province</label>
      <select id="disabledSelect" class="form-control">
        <option>Select Province (Disabled)</option>
      </select>
    </div>
    <div class="form-group">
      <label for="disabledTextInput">SIC Code</label>
      <input type="text" id="disabledTextInput" class="form-control" placeholder="Enter SIC Code (Disabled)">
    </div>
    <div class="form-group">
      <label for="disabledTextInput">Annual Revenue($)</label>
      <input type="text" id="disabledTextInput" class="form-control" placeholder="Enter Revenue (Disabled)">
    </div>
    <div class="form-group">
      <label for="disabledTextInput">Facility Size($)</label>
      <input type="text" id="disabledTextInput" class="form-control" placeholder="Enter Facility Size (Disabled)">
    </div>
  <div class="form-group">
      <label for="disabledSelect">Committed Facility (yes/no)</label>
      <select id="disabledSelect" class="form-control">
        <option>Select Yes or No (disabled)</option>
      </select>
    </div>
  <div class="form-group">
      <label for="disabledSelect">Syndicated (yes/no)</label>
      <select id="disabledSelect" class="form-control">
        <option>Select Yes or No (disabled)</option>
      </select>
    </div>
  </fieldset>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>


         
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript

    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/bootstrap/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/bootstrap/js/jquery-2.1.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
