<html>
<head>
</head>
<body>

<p>
{% for deal in deals %}

Company: {{ deal.company_name }}, Risk Rating: {{ deal.company_risk_rating }}, Deal Fee: ${{ deal.deal_fee }}, Status: {{ deal.deal_status }}<br>

{% endfor %}
</p>
</body>