<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>

<body>
<p>Inspect a Single Deal<br>
<br>

<p>
id = {{ deal.id }}<br>
deal_date = {{ deal.deal_date }}<br>
deal_status = {{ deal.deal_status }}<br>
deal_status_comment = {{ deal.deal_status_comment }}<br>
deal_source = {{ deal.deal_source }}<br>
deal_source_comment = {{ deal.deal_source_comment }}<br>
deal_fee = {{ deal.deal_fee }}<br>

company_name = {{ deal.company_name }}<br>
company_id = {{ deal.company_id }}<br>
company_ownership = {{ deal.company_ownership }}<br>
company_revenue = {{ deal.company_revenue }}<br>
company_employees = {{ deal.company_employees }}<br>
company_current_client = {{ deal.company_current_client }}<br>
company_competitive = {{ deal.company_competitive }}<br>
company_industry = {{ deal.company_industry }}<br>
company_risk_rating = {{ deal.company_risk_rating }}<br>

company_geo_country = {{ deal.company_geo_country }}<br>
company_geo_province = {{ deal.company_geo_province }}<br>
company_geo_city = {{ deal.company_geo_city }}<br>

branch_name = {{ deal.branch_name }}<br>
branch_id = {{ deal.branch_id }}<br>
branch_people_1 = {{ deal.branch_people_1 }}<br>
branch_people_2 = {{ deal.branch_people_2 }}<br>
branch_people_3 = {{ deal.branch_people_3 }}<br>

facility_size = {{ deal.facility_size }}<br>
facility_committed = {{ deal.facility_committed }}<br>
facility_term = {{ deal.facility_term }}<br>
facility_syndicated = {{ deal.facility_syndicated }}<br>

pricing_level = {{ deal.pricing_level }}<br>
pricing_options = {{ deal.pricing_options }}<br>

pricing_score = {{ deal.pricing_score }} <br>

<table>
	<thead>
	<tr>
		<th>Level</th>
		<th>Funded Debt:EBITDA</th>
		<th>Prime+ (bps)</th>
		<th>BA Fee (bps)</th>
	</tr>
	</thead>
	<tr>
		<th>{{ deal.pricing_1_1 }}</th>
		<th>{{ deal.pricing_1_2 }}</th>
		<th>{{ deal.pricing_1_3 }}</th>
		<th>{{ deal.pricing_1_4 }}</th>
	</tr>
	<tr>
		<th>{{ deal.pricing_2_1 }}</th>
		<th>{{ deal.pricing_2_2 }}</th>
		<th>{{ deal.pricing_2_3 }}</th>
		<th>{{ deal.pricing_2_4 }}</th>
	</tr>
	<tr>
		<th>{{ deal.pricing_3_1 }}</th>
		<th>{{ deal.pricing_3_2 }}</th>
		<th>{{ deal.pricing_3_3 }}</th>
		<th>{{ deal.pricing_3_4 }}</th>
	</tr>
	<tr>
		<th>{{ deal.pricing_4_1 }}</th>
		<th>{{ deal.pricing_4_2 }}</th>
		<th>{{ deal.pricing_4_3 }}</th>
		<th>{{ deal.pricing_4_4 }}</th>
	</tr>
	<tr>
		<th>{{ deal.pricing_5_1 }}</th>
		<th>{{ deal.pricing_5_2 }}</th>
		<th>{{ deal.pricing_5_3 }}</th>
		<th>{{ deal.pricing_5_4 }}</th>
	</tr>
</table>

covenant_1_type = {{ deal.covenant_1_type }}<br>
covenant_1_test = {{ deal.covenant_1_test }}<br>
covenant_2_type = {{ deal.covenant_2_type }}<br>
covenant_2_test = {{ deal.covenant_2_test }}<br>

debt_at_close = {{ deal.debt_at_close }}x<br>

file_deal_memo = {{ deal.file_deal_memo }}<br>
file_deal_terms = {{ deal.file_deal_terms }}
</p>

</body>
</html>
